<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.shop.address.dao.AddressDao">
<sql id="address_base_select">
		SELECT ROW_ID,USER_ID,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,DETAILED_ADDRESS,ZIP_CODE,CONSIGNEE_TLP,ACTIVE_FLAG FROM TB_ADDRESS WHERE ACTIVE_FLAG = 1
	</sql>
	
	<insert id="save" parameterType="Address" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_ADDRESS (USER_ID,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,DETAILED_ADDRESS,ZIP_CODE,CONSIGNEE_TLP)
		VALUES(#{userId},#{provinceCode},#{cityCode},#{disteuctCode},#{detailedAddress},#{zipCode},#{recPhone})
	</insert>
	
	<select id="get" resultType="Address">
		<include refid="address_base_select"/> AND ROW_ID = #{rowId}
	</select>
	
	<select id="find" resultType="Address">
     <include refid="address_base_select"/>
	</select>
	
	<update id="delete">
	UPDATE TB_ADDRESS 
	<set>
	ACTIVE_FLAG=0
	</set>
	WHERE ROW_ID = #{rowId}
	</update>
	
	<update id="update" parameterType="Address">
		UPDATE TB_ADDRESS 
		<set>
			<if test="proCode!=null">
				PROVINCE_CODE = #{provinceCode},
			</if>
			<if test="cityCode!=null">
				CITY_CODE = #{cityCode},
			</if>
			<if test="DISTRICTCode!=null">
				DISTRICT_CODE = #{districtCode},
			</if>
			<if test="detAddress!=null">
				DETAILED_ADDRESS = #{detailedAddress},
			</if>
			<if test="zipCode!=null">
				ZIP_CODE = #{zipCode},
			</if>
			<if test="recPhone!=null">
				CONSIGNEE_TLP = #{consigneeTlp},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
</mapper>